<div class="accordion md:max-w-4/5 lg:w-4/5 md:mx-auto flex justify-center flex-col">
	<h4 class="text-4xl text-center text-red font-semibold mb-4 mt-5">
		FAQ <i class="fa-solid fa-question text-red"></i>
	</h4>
	<div class="accordion-box">
		<button class="accordion-btn">
			<i class="fas fa-gear"></i>
			Do you offer free quotes?</button
		>
		<div class="accordion-info">
			<p class="accordion-info-text font-bold">
				Yes, we provide free repair quotes, just make an appointment and come to our workshop.
			</p>
		</div>
	</div>
	<div class="accordion-box">
		<button class="accordion-btn">
			<i class="fas fa-wrench"></i>
			Which brands and models of cars do you service?</button
		>
		<div class="accordion-info">
			<p class="accordion-info-text font-bold">
				We accept any car, regardless of its brand or model. Our team of specialists has extensive experience working with various types of vehicles, so you can be assured that your car is in good hands with us.
			</p>
		</div>
	</div>
	<div class="accordion-box">
		<button class="accordion-btn">
			<i class="fa-solid fa-toolbox"></i>
			How long does a typical repair take?</button
		>
		<div class="accordion-info">
			<p class="accordion-info-text font-bold">
				It depends on the extent of the damage and the size of the repair. Each case is unique, and we assess the duration based on the specific requirements of the repair.
			</p>
			
		</div>
	</div>
	<div class="accordion-box">
		<button class="accordion-btn">
			<i class="fa-solid fa-spray-can"></i>
			How much does the repair cost?</button
		>
		<div class="accordion-info">
			<p class="accordion-info-text font-bold">
				It depends on the type of repair. Each repair is unique, and the cost is determined based on the specific requirements and scope of the work.
			</p>
			
		</div>
	</div>
	<div class="accordion-box">
		<button class="accordion-btn">
			<i class="fa-solid fa-car"></i>
			Do you offer vehicle painting services?</button
		>
		<div class="accordion-info">
			<p class="accordion-info-text font-bold">
				Yes, we offer full vehicle painting services as well as minor paint repairs.
			</p>
			
		</div>
	</div>
</div>

<style>
	p {
		margin-bottom: 0.5em;
	}

	.fas,
	.fa-solid {
		margin-right: 20px;
		color: #b22222;
	}

	.accordion {
		max-width: 100%; /* Ustawia maksymalną szerokość na 100% */
		margin: 0 auto; /* Wyśrodkowuje zawartość */
		margin-bottom: 5px;
		background-color: #fff;
		border-radius: 8px;
		border-radius: 20px;
		background: linear-gradient(to bottom right, #f0f0f0, #ffffff);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
	@media (min-width: 768px) {
		.accordion {
			max-width: 60%; /* Ustawia maksymalną szerokość na 80% dla ekranów większych niż 768px */
		}
	}

	.accordion-box {
		margin: 20px;
	}

	.accordion-btn {
		padding: 1em;
		width: 100%;
		font-size: 30px;
		text-align: left;
		border: none;
		border-radius: 8px;
		transition: background-color 0.3s;
		cursor: pointer;
		border: 1px solid gray;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	.accordion-btn:hover,
	.accordion-btn:focus {
		background-color: #b22222;
		color: #fff;
		outline: none;
	}

	.accordion-btn:hover .fas,
	.accordion-btn:hover .fa-solid,
	.accordion-btn:focus .fas,
	.accordion-btn:focus .fa-solid {
		color: #fff;
	}

	.accordion-info {
		display: none;
		padding: 1em 2em;
	}

	.active {
		display: block;
	}
</style>
<script>
	const accordion = document.querySelector('.accordion')
	const accordionBtns = document.querySelectorAll('.accordion-btn')

	function openAccordionItems() {
		if (this.nextElementSibling.classList.contains('active')) {
			this.nextElementSibling.classList.remove('active')
		} else {
			closeAccordionItem()
			this.nextElementSibling.classList.toggle('active')
		}
	}

	const closeAccordionItem = () => {
		const allActiveItems = document.querySelectorAll('.accordion-info')
		allActiveItems.forEach(item => item.classList.remove('active'))
	}

	const clickOutsideAccordion = e => {
		if (
			e.target.classList.contains('accordion-btn') ||
			e.target.classList.contains('accordion-info') ||
			e.target.classList.contains('accordion-info-text')
		)
			return

		closeAccordionItem()
	}

	accordionBtns.forEach(btn => btn.addEventListener('click', openAccordionItems))

	window.addEventListener('click', clickOutsideAccordion)
</script>
