<div class=" relative flex flex-col justify-center items-center bg-black ">
    <h4 class="text-2xl text-white  text-center ml-5 mr-5 border-t-white border-t-2 mt-5 pt-2 w-96">Where you can also fin us:</h4>
    <a class="pt-5 pb-5" href="https://www.facebook.com/profile.php?id=100086876112950"><i class="fa-brands fa-facebook text-white text-5xl"></i></a>
    <a href="https://www.instagram.com/ls.bodyshop.dorset/"><i class="fa-brands fa-instagram text-white text-5xl"></i></a>
    <a href="/"><i class="fa-brands fa-youtube text-white text-5xl pt-5 mb-5 "></i></a>
    <img class=" absolute bottom-0 right-0 w-92 h-92 mb-5" src="/white-logo.png" />
</div>