<div class="relative flex flex-col justify-center items-center bg-black p-10 text-center">
    <h4 class="text-2xl text-white border-t-white border-t-2 mt-5 pt-2 w-full md:w-96">Where you can also find us:</h4>
    <div class="flex flex-col md:flex-row justify-center mt-5">
        <a class="px-4 py-2 md:py-0" href="https://www.facebook.com/profile.php?id=100086876112950" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook text-white text-5xl"></i></a>
        <a class="px-4 py-2 md:py-0" href="https://www.instagram.com/ls.bodyshop.dorset/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram text-white text-5xl"></i></a>
        <a class="px-4 py-2 md:py-0" href="/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube text-white text-5xl"></i></a>
    </div>
    <img class="absolute bottom-0 right-0 w-32 h-32 mb-5 md:w-92 md:h-92" src="/white-logo.png" alt="LS Bodyshop Logo" />
</div>

<style>
   
    a:hover i {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
</style>