<div
	class="portfolio-section md:max-w-4/5 lg:w-4/5 md:mx-auto flex justify-center items-center flex-col font-montserrat bg-gray-900 mb-5 py-10">
	<div class="intro flex flex-col justify-center items-center mt-5 pb-5 px-5 md:px-10">
		<h3 class="text-3xl text-center text-black">Portfolio</h3>
		<p class="font-poppins text-xl text-center text-black mt-3">
			Oto wyniki naszej pracy w LS Bodyshop Dorset. Jeśli chcesz zobaczyć pełne portfolio, kliknij <a
				href=""
				class="text-red-600">TUTAJ!</a
			>
		</p>
	</div>
	<div class="slider relative w-full md:w-2/3 h-80 md:h-96 overflow-hidden">
		<div class="slider-box h-full flex transition-transform duration-500">
			<img class="slider-img h-full w-full object-cover" src="/eClasa.jpg" alt="Zdjęcie natury" loading="lazy"/>
			<img class="slider-img h-full w-full object-cover" src="/Beta3.jpg" alt="Zdjęcie natury" loading="lazy"/>
			<img class="slider-img h-full w-full object-cover" src="/polera.jpg" alt="Zdjęcie natury" loading="lazy"/>
			<img class="slider-img h-full w-full object-cover" src="/BMW.jpg" alt="Zdjęcie natury" loading="lazy"/>
			<img class="slider-img h-full w-full object-cover" src="/modeo.jpg" alt="Zdjęcie natury" loading="lazy"/>
		</div>
		<button
			class="btn btn-left absolute top-1/2 transform -translate-y-1/2 px-2 py-1 text-white bg-black bg-opacity-40 text-4xl border-none cursor-pointer left-0">
			<span>&lt;</span>
		</button>
		<button
			class="btn btn-right absolute top-1/2 transform -translate-y-1/2 px-2 py-1 text-white bg-black bg-opacity-40 text-4xl border-none cursor-pointer right-0">
			<span>&gt;</span>
		</button>
	</div>
</div>
<style>
	.portfolio-section {
		margin-top: 10px;
		width: 100%;
		border-radius: 20px;
		background: linear-gradient(to bottom right, #f0f0f0, #ffffff);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	.slider {
		relative: w-full;
		md: w-2/3;
		height: 100px; /* Nowa wysokość suwaka */
		overflow: hidden;
	}

	.slider-box {
		display: flex;
		transition-transform: duration-500;
	}

	.slider-img {
		flex: 0 0 100%;
		height: auto;
		object-fit: cover;
		transition: transform 0.5s;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	.btn {
		absolute: top-1/2;
		transform: -translate-y-1/2;
		px-2: py-1;
		text-white: bg-black;
		bg-opacity-40: text-4xl;
		border-none: cursor-pointer;
	}

	.btn-left {
		left: 0;
	}

	.btn-right {
		right: 0;
	}

	@media (max-width: 767px) {
		.btn {
			display: none;
		}
	}

	@media (min-width: 768px) {
		.portfolio-section {
			width: 90%;
		}
		.slider {
			height: 450px;
		}
	}
</style>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const sliderBox = document.querySelector('.slider-box')
		const leftBtn = document.querySelector('.btn-left')
		const rightBtn = document.querySelector('.btn-right')
		const carouselImages = document.querySelectorAll('.slider-img')
		const carouselWidth = sliderBox.clientWidth;
		const carouselSpeed = 3000
		console.log(carouselWidth)

		let index = 0

		const handleCarousel = () => {
			index++
			changeImage()
		}

		let startCarousel = setInterval(handleCarousel, carouselSpeed)

		const changeImage = () => {
			if (index > carouselImages.length - 1) {
				index = 0
			} else if (index < 0) {
				index = carouselImages.length - 1
			}

			const translateXValue = -index * carouselWidth
			sliderBox.style.transform = `translateX(${translateXValue}px)`
		}

		const handleRightArrow = () => {
			index++
			resetInterval()
		}

		const handleLeftArrow = () => {
			index--
			resetInterval()
		}

		const resetInterval = () => {
			changeImage()
			clearInterval(startCarousel)
			startCarousel = setInterval(handleCarousel, carouselSpeed)
		}

		rightBtn.addEventListener('click', handleRightArrow)
		leftBtn.addEventListener('click', handleLeftArrow)
	})
</script>
