<section class="services-section flex flex-col justify-center items-center md:mt-10 lg:mt-10">
	<header class="flex flex-col justify-center items-center">
		<h3 id="services" class="trans font-bold font-poppins text-3xl md:mt-8">Services</h3>
		<p class="trans font-bold font-poppins text-xl ml-5 mr-5 pb-5 pt-5 text-center">
			At <span class="text-red">L</span>S Bodyshop, we pride ourselves on delivering top-tier automotive services.
			Here's what we offer:
		</p>
	</header>
	<div class="services-list flex flex-col justify-center items-center md:mx-auto lg:w-9/10">
		<figure class="service-item trans flex flex-col justify-center items-center m-5 shadow-2 md:flex-row md:shadow">
			<img src="/dent.jpg" alt="Dent Repair" class="md:mr-5 md:w-1/2" loading="lazy" />
			<figcaption class="font-poppins text-xl text-black p-5">
				<span class="font-bold">Dent Repair</span> - Dents and dings are a thing of the past with our expert repair services.
				Using state-of-the-art tools and techniques, we ensure your vehicle returns to its pristine condition.
			</figcaption>
		</figure>
		<figure
			class="service-item trans flex flex-col justify-center items-center m-5 bg-black mb-5 mt-5 md:flex-row-reverse md:shadow">
			<img src="/polera.jpg" alt="Car Polishing" class="md:ml-5 md:w-1/2" loading="lazy" />
			<figcaption class="font-poppins text-xl text-white p-5">
				<span class="font-bold">Car Polishing</span> - Give your car the shine it deserves. Our polishing services remove
				scratches, swirls, and imperfections, leaving your vehicle with a mirror-like finish.
			</figcaption>
		</figure>
		<figure
			class="service-item trans flex flex-col justify-center items-center shadow m-5 mb-5 md:flex-row md:justify-end md:shadow">
			<img src="/blachara.jpg" alt="Bodywork and Painting" class="md:mr-5 md:w-1/2" loading="lazy" />
			<figcaption id="slider" class="font-poppins text-xl p-5">
				<span class="font-bold">Bodywork and Painting</span> - At LS Bodyshop, our bodywork and painting services are second
				to none. We understand that your vehicle is more than just a mode of transportation; it's a reflection of your personality
				and style. Whether your car has suffered from a minor scratch, a dent, or major collision damage, our team of skilled
				technicians is equipped with the latest tools and techniques to restore it to its original glory.
			</figcaption>
		</figure>
	</div>
</section>

<style>
	.services-section {
		padding: 20px;
		border-radius: 20px;
		background: linear-gradient(to bottom right, #f0f0f0, #ffffff);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		width: 100%;
		margin: auto;
		margin-bottom: 40px;
		margin-top: 10px;
	}

	.service-item {
		width: 100%; /* Szerokość elementu usługi na 100% dla urządzeń mobilnych */
		margin: auto; /* Wyśrodkowanie elementu usługi */
	}

	.services-list {
		margin-top: 20px;
	}

	.trans {
		opacity: 0;
		filter: blur(3px);
		transform: translateY(-20px);
		transition: all 0.5s;
		z-index: 10;
	}

	.show {
		opacity: 1;
		filter: blur(0);
		transform: translateY(0);
	}

	@media (min-width: 768px) {
		/* Styl dla średnich i dużych ekranów */
		.services-section {
			width: 90%;
		}

		.service-item {
			width: 90%;
		}
	}

	@media (prefers-reduced-motion) {
		.trans {
			transition: none;
		}
	}
	.service-item img {
		width: 100%;
		height: 400px; /* Możesz dostosować tę wartość */
		object-fit: cover;
		transition: transform 0.3s;
	}
	.service-item:hover img {
		transform: scale(1.05);
	}

	.service-item p {
		text-align: justify; /* Align the text */
	}
</style>

<script>
	const observer = new IntersectionObserver(entries => {
		entries.forEach(entry => {
			if (entry.isIntersecting) {
				entry.target.classList.add('show')
			} else {
				entry.target.classList.remove('show')
			}
		})
	})

	const hiddenElements = document.querySelectorAll('.trans')
	hiddenElements.forEach(el => observer.observe(el))
</script>
