---
import MainLayout from '../layouts/main-layout.astro'
---

<MainLayout title="About me">
	<section class="main">
		<div class="contenair">
			<div class="textContainer">
				<h1 class="text-2xl font-bold mb-4">About Us</h1>
				<p class="mb-4">
					At LS Bodyshop in Bournemouth, we are a team of professionals dedicated to delivering exceptional
					craftsmanship in every project. Our passion is cars, and our mission is to provide top-notch services to our
					clients.
				</p>

				<h2 class="text-xl font-bold mb-2">Our Team</h2>
				<p class="mb-4">
					Our team comprises experienced mechanics, bodywork experts, and painting specialists. Together, we combine our
					skills to offer the best services in Bournemouth, ensuring that every vehicle we handle is treated with utmost
					precision and care.
				</p>

				<h2 class="text-xl font-bold mb-2">Contact</h2>
				<p>
					If you have any questions or wish to get in touch with us, please send us an email at <a
						href="mailto:example@example.com"
						class="text-blue-500 hover:underline">example@example.com</a
					> or call us at +44 7401 714261.
				</p>
			</div>
			<img src="/aboutMe.jpg" />
		</div>
	</section>
</MainLayout>

<style>
	.main {
		display: flex;

		align-items: center;
		justify-content: center;

		max-width: 100%;
		height: 100%;
	}
	.contenair {
		max-width: 80%;
		background-color: white;
		display: flex;
		flex-direction: row;
	}
	img {
		width: 600px;
		height: 600px;
	}
	.textContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px;
	}
	h1 {
		border-bottom: 3px solid #b22222;
	}
	h2 {
		border-bottom: 3px solid #b22222;
	}
	@media (max-width: 768px) {
		.contenair {
			flex-direction: column;
			align-items: center;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
</style>
